.design-row {
  width: 96%;
  max-width: none;
}

.design #nav-web-services {
  color: var(--reddish);
}

header {
  height: 0 !important;
  min-height: 50px !important;
}

/* ------------------------------------------------------------------ */
/* a. Title
/* ------------------------------------------------------------------ */

#title {
  background: var(--greyish);
  overflow: hidden;
}

#title h1,
#title h2 {
  text-align: center;
}

/* ------------------------------------------------------------------ */
/* b. List Options Section
/* ------------------------------------------------------------------ */
.quick-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quick-links a:hover,
#quick-links .smoothScroll.active {
  color: var(--reddish);
}

.is-pinned {
  position: fixed;
  text-align: left;
  top: 30%;
}

.is-pinned .bold {
  margin-bottom: 12px;
  font-size: 16px;
}

.is-pinned p {
  line-height: 24px !important;
  margin: 0 auto;
}

.is-pinned a {
  font-size: 14px;
}

/* ------------------------------------------------------------------ */
/* c. Design Section
/* ------------------------------------------------------------------ */

#design {
  background: var(--greyish);
  overflow: hidden;
}

#design a,
#design a:visited {
  color: var(--nightBlue);
}
#design a:hover,
#design a:focus {
  color: var(--reddish);
}

.linksInverted a,
.linksInverted a:visited {
  color: var(--reddish) !important;
}
.linksInverted a:hover,
.linksInverted a:focus {
  color: var(--nightBlue) !important;
}

#design h1 {
  font: 35px/30px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 42px;
}
#design h2 {
  font: 24px/28px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 42px;
}
#design h3 {
  font: 18px/30px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 12px;
}
#design .eight p {
  font-size: 18px;
  line-height: 40px;
  color: var(--nightBlue);
}
#design span {
  padding-bottom: 10px;
  display: inline-block;
}

/* ------------------------------------------------------------------ */
/* d. Counters
/* ------------------------------------------------------------------ */

.counter {
  color: var(--mainWhite);
  text-align: center;
  width: 120px;
  height: auto;
  margin: 40px;
  padding: 33px 25px 20px;
  position: relative;
  z-index: 1;
}
.counter:before,
.counter:after {
  content: '';
  background: linear-gradient(
    -45deg,
    #22a6b3 33%,
    #68c1c9 29%,
    #68c1c9 63%,
    #7ed6df 0%
  );
  height: 200px;
  width: 200px;
  border: 4px solid var(--mainWhite);
  border-radius: 50%;
  transform: translateX(-50%) rotate(0);
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -1;
  transition: all 0.3s ease;
}
.counter:hover:before {
  transform: translateX(-50%) rotate(360deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.counter .counter-icon {
  font-size: 30px;
}
.counter .counter-value {
  font-size: 30px;
  font-weight: 700;
  /* margin: 0 0 3px; */
  display: block;
}
.counter h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}
.counter.magenta:before {
  background: linear-gradient(
    -45deg,
    #c641c0 33%,
    #db4ed4 29%,
    #db4ed4 63%,
    #dd7ed9 0%
  );
}
.counter.magenta:after {
  background: #c641c0;
}
.counter.green:before {
  background: linear-gradient(
    -45deg,
    #6eaa40 33%,
    #8abc62 29%,
    #8abc62 63%,
    #acd18e 0%
  );
}
.counter.green:after {
  background: #6eaa40;
}
.counter.orange:before {
  background: linear-gradient(
    -45deg,
    #e8742c 33%,
    #ef8b51 29%,
    #ef8b51 63%,
    #efac86 0%
  );
}
.counter.orange:after {
  background: #e8742c;
}
#counter-last-child {
  float: left;
}
@media screen and (max-width: 990px) {
  .counter {
    margin-bottom: 40px;
  }
}

/* ------------------------------------------------------------------ */
/* e. FAQs
/* ------------------------------------------------------------------ */

#faq {
  background: var(--greyish);
  overflow: hidden;
}

#faq .row {
  max-width: none;
}

#faq h2 {
  font: 30px/28px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 42px;
}

#faq .row .eight {
  padding: 0;
}

.faq-wrap {
  width: 100%;
  min-height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

dl {
  width: 100%;
  height: 100%;
}

p.accordion {
  width: 100%;
  position: relative;
  color: var(--nightBlue);
  padding: 5px 16px;
  font-size: 20px;
  text-align: left;
  border: none;
  margin-bottom: 0.1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

/* Add a background color to the accordion if it is clicked on (add .active class in JS), and when you move the mouse over it (hover) */
p.accordion.active,
p.accordion:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Unicode character for "plus" sign (+) */
p.accordion::after {
  content: '\2795';
  font-size: 14px;
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  color: transparent;
  text-shadow: 0 0 0 rgba(199, 127, 123, 0.85);
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
  content: '\2796';
}

div.panel {
  padding: 14px;
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--nightBlue);
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  margin-top: 8px;
  margin-bottom: 12px;
  border-radius: 1rem;
  font-size: 15px;
  text-align: left !important;
}

div.panel.show {
  opacity: 1;
  max-height: 20rem;
  text-align: left !important;
}

/* ------------------------------------------------------------------ */
/* e. BACKGROUND PROGRESS BAR
/* ------------------------------------------------------------------ */

.progress-bar-background {
  width: 100%;
  height: 5px;
  background: #ccc;
  position: fixed;
  top: 48px;
  /* z-index: 998; */
}

/* The progress bar */
.progress-bar {
  height: 5px;
  background: var(--reddish);
  width: 0%;
}
