.development-row {
  width: 96%;
  max-width: none;
}

.development #nav-web-services {
  color: var(--reddish);
}

header {
  height: 0 !important;
  min-height: 50px !important;
}

/* ------------------------------------------------------------------ */
/* a. Title
/* ------------------------------------------------------------------ */

#title {
  background: var(--greyish);
  overflow: hidden;
}

#title h1,
#title h2 {
  text-align: center;
}

/* ------------------------------------------------------------------ */
/* b. List Options Section
/* ------------------------------------------------------------------ */
.quick-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quick-links a:hover,
#quick-links .smoothScroll.active {
  color: var(--reddish);
}

.is-pinned {
  position: fixed;
  text-align: left;
  top: 30%;
}

.is-pinned .bold {
  margin-bottom: 12px;
  font-size: 16px;
}

.is-pinned p {
  line-height: 24px !important;
  margin: 0 auto;
}

.is-pinned a {
  font-size: 14px;
}

/* ------------------------------------------------------------------ */
/* c. Development Section
/* ------------------------------------------------------------------ */

#development {
  background: var(--greyish);
  overflow: hidden;
}

#development a,
#development a:visited {
  color: var(--nightBlue);
}
#development a:hover,
#development a:focus {
  color: var(--reddish);
}

.linksInverted a,
.linksInverted a:visited {
  color: var(--reddish) !important;
}
.linksInverted a:hover,
.linksInverted a:focus {
  color: var(--nightBlue) !important;
}

#development h1 {
  font: 35px/30px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 42px;
}
#development h2 {
  font: 24px/28px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 42px;
}
#development h3 {
  font: 18px/30px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 12px;
}
#development .eight p {
  font-size: 18px;
  line-height: 40px;
  color: var(--nightBlue);
}
#development span {
  padding-bottom: 10px;
  display: inline-block;
}

/* ------------------------------------------------------------------ */
/* d. FAQs
/* ------------------------------------------------------------------ */

#faq {
  background: var(--greyish);
  overflow: hidden;
}

#faq .row {
  max-width: none;
}

#faq h2 {
  font: 30px/28px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 42px;
}

#faq .row .eight {
  padding: 0;
}

.faq-wrap {
  width: 100%;
  min-height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

dl {
  width: 100%;
  height: 100%;
}

p.accordion {
  width: 100%;
  position: relative;
  background-color: var(--mainWhite);
  color: var(--nightBlue);
  padding: 5px 16px;
  font-size: 20px;
  text-align: left;
  border: none;
  margin-bottom: 0.1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

/* Add a background color to the accordion if it is clicked on (add .active class in JS), and when you move the mouse over it (hover) */
p.accordion.active,
p.accordion:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Unicode character for "plus" sign (+) */
p.accordion::after {
  content: '\2795';
  font-size: 14px;
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  color: transparent;
  text-shadow: 0 0 0 rgba(199, 127, 123, 0.85);
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
  content: '\2796';
}

div.panel {
  padding: 14px;
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--nightBlue);
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  margin-top: 8px;
  margin-bottom: 12px;
  border-radius: 1rem;
  font-size: 15px;
  text-align: left !important;
}

div.panel.show {
  opacity: 1;
  max-height: 20rem;
  text-align: left !important;
}

/* ------------------------------------------------------------------ */
/* e. BACKGROUND PROGRESS BAR
/* ------------------------------------------------------------------ */

.progress-bar-background {
  width: 100%;
  height: 5px;
  background: #ccc;
  position: fixed;
  top: 48px;
  z-index: 999;
}

/* The progress bar */
.progress-bar {
  height: 5px;
  background: var(--reddish);
  width: 0%;
}
