<div class="row">

   <div class="twelve columns">

      <ul class="social-links">
         <li><a href="mailto:alessio@thecodinglab.it" target="_blank" rel="noopener"><i class="fa fa-envelope"></i></a></li>
               <li><a href="https://www.linkedin.com/company/thecodinglab" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://twitter.com/aleshere8" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://github.com/Aleshere" target="_blank" rel="noopener"><i class="fa fa-github"></i></a></li>
               <li><a href="skype:.cid.48f6072e12d24f85?call" target="_blank" rel="noopener"><i class="fa fa-skype"></i></a></li>
      </ul>

      <ul class="copyright">
         <li><a href="/Privacy Policy.pdf">Privacy Policy</a></li>
         <li><a href="/terms.html">Terms and Conditions</a></li>
         <div></div>
         <li>&copy; The Coding Lab 2020-2021</li>
      </ul>

   </div>

</div>