
<li>
    <a href="/" id="nav-homepage" >Home</a>
</li>
<li>
    <a href="/about" id="nav-about" >About</a>
</li>
<li>
    <a href="/web-services" id="nav-web-services" >Web Services</a>
    <ul >
        <li>
            <a href="/web-services/">Overview</a>
        </li>
        <li>
            <a href="/web-services/domain/">Domain Services</a>
        </li>
        <li>
            <a href="/web-services/design/">Web Design</a>
        </li>
        <li>
            <a href="/web-services/web-maintenance/">Maintenance</a>
        </li>
    </ul>
</li>
<li>
    <a href="/seo" id="nav-seo" >SEO Services</a>
    <ul>
        <li>
            <a href="/seo/">Overview</a>
        </li>
        <li>
            <a href="/seo/audit/">Audit</a>
        </li>
        <li>
            <a href="/seo/services/">SEO Services</a>
        </li>
        <li>
            <a href="/seo/local-seo/">Local SEO</a>
        </li>
    </ul>
</li>
<!-- <li>
    <a href="/content" id="nav-content" >Content</a>
    <ul>
        <li>
            <a href="/content/">Overview</a>
        </li>
        <li>
            <a href="/content/copywriting/">Copywriting</a>
        </li>
        <li>
            <a href="/content/blogging/">Blogging</a>
        </li>
    </ul>
</li> -->
<li>
    <a href="/blog" id="nav-blog" >Blog</a>
</li>
<li>
    <a href="/packages" id="nav-packages" >Packages</a>
</li>
<li>
    <a href="/contact" id="nav-contact" >Contact</a>
</li>