.about #nav-about {
  color: var(--reddish);
}

header {
  height: 0 !important;
  min-height: 50px !important;
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
  background: var(--greyish);
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

#about a,
#about a:visited {
  color: var(--mainWhite);
}
#about a:hover,
#about a:focus {
  color: var(--reddish);
}

#about h1 {
  font: 35px/30px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 42px;
}
#about h2 {
  font: 22px/30px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 12px;
}
#about p {
  line-height: 30px;
  color: var(--nightBlue);
}
#about .profile-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
#about .contact-details {
  width: 41.66667%;
}
#about .download {
  width: 58.33333%;
  padding-top: 6px;
}
#about .main-col {
  padding-right: 5%;
}
#about .download .button {
  margin-top: 6px;
  color: var(--mainWhite);
  background: var(--reddish);
  padding: 5px 18px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
#about .download .button:hover {
  color: var(--reddish);
  background: var(--mainWhite);
}
#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
  background: var(--mainWhite);
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}
#resume h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--nightBlue);
}
#resume h1 span {
  border-bottom: 3px solid #c77f7b;
  padding-bottom: 6px;
}
#resume h3 {
  font: 25px/30px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
}
#resume p {
  color: var(--nightBlue);
}

#resume .header-col {
  padding-top: 9px;
}
#resume .main-col {
  padding-right: 10%;
}

.education,
.work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--greyish);
}
#resume .info {
  font: 16px/24px 'librebaskerville-italic', serif;
  color: var(--nightBlue);
  margin-bottom: 18px;
  margin-top: 9px;
}
#resume .info span {
  margin-right: 5px;
  margin-left: 5px;
}
#resume .date {
  font: 15px/24px 'opensans-regular', sans-serif;
  margin-top: 6px;
  color: var(--nightBlue);
}
