.web-services #nav-web-services {
  color: var(--reddish);
}
header {
  height: 0 !important;
  min-height: 50px !important;
}

/* ------------------------------------------------------------------ */
/* a. Title
/* ------------------------------------------------------------------ */
#title {
  background: var(--greyish);
  overflow: hidden;
}

/* ------------------------------------------------------------------ */
/* b. List Options Section
/* ------------------------------------------------------------------ */
.quick-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quick-links a {
  color: var(--nightBlue);
}

#quick-links a:hover,
#quick-links .smoothScroll.active {
  color: var(--reddish) !important;
}

.is-pinned {
  position: fixed;
  text-align: left;
  top: 30%;
}

.is-pinned .bold {
  margin-bottom: 12px !important;
  font-size: 16px !important;
}

.is-pinned li {
  line-height: 24px !important;
  margin: 0 auto;
}

.is-pinned a {
  font-size: 16px !important;
}

/* ------------------------------------------------------------------ */
/* c. List Services Section
/* ------------------------------------------------------------------ */

#list-options {
  background: var(--greyish);
  /* padding-top: 14px; */
  overflow: hidden;
  flex-direction: row !important;
}

#list-options p {
  padding: 14px;
  margin: 0;
}

/* ------------------------------------------------------------------ */
/* d. Web Services Section
/* ------------------------------------------------------------------ */

#workflow,
#list-services {
  background: var(--greyish);
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  z-index: -100 !important;
}

#workflow img {
  z-index: -100 !important;
}

#workflow a:hover,
#workflow a:focus {
  color: var(--nightBlue);
}

.linksInverted a,
.linksInverted a:visited {
  color: var(--reddish) !important;
}
.linksInverted a:hover,
.linksInverted a:focus {
  color: var(--nightBlue) !important;
}

#workflow h1,
#list-services h1 {
  font: 35px/30px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 42px;
}
#workflow h2,
#list-services h2 {
  font: 30px/28px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 42px;
}
#workflow h3,
#list-services h3 {
  font: 18px/30px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 12px;
}
#workflow p,
#list-services p {
  font-size: 20px;
  line-height: 30px;
  color: var(--nightBlue);
  margin: 0 !important;
}
#workflow .profile-pic,
#list-services .profile-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
#workflow .contact-details,
#list-services .contact-details {
  width: 41.66667%;
}
#workflow .download,
#list-services .download {
  width: 58.33333%;
  padding-top: 6px;
}
#workflow .main-col,
#list-services .main-col {
  padding-right: 5%;
}
#workflow .download .button,
#list-services .download .button {
  margin-top: 6px;
  color: var(--mainWhite);
  background: var(--reddish);
  padding: 5px 18px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
#workflow .download .button:hover,
#list-services .download .button:hover {
  color: var(--reddish);
  background: var(--mainWhite);
}
#workflow .download .button i,
#list-services .download .button i {
  margin-right: 15px;
  font-size: 20px;
}
.offer {
  margin-top: 0 !important;
}
.offer li {
  color: var(--nightBlue);
}
.offer ol {
  margin-top: 24px;
}
#workflow label span,
#list-services label span {
  color: var(--nightBlue);
}
#workflow input,
#list-services input {
  min-width: 100%;
  transition: all 0.3s;
}
#workflow input:focus,
#list-services input:focus,
#workflow input:active,
#list-services input:active {
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--nightBlue);
}
#workflow span,
#list-services span {
  padding-bottom: 10px;
  display: inline-block;
}
.paddingBottom {
  padding-bottom: 66px;
}

/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
  background: var(--greyish);
  padding-bottom: 60px;
}
#portfolio h1 {
  font: 15px/24px 'opensans-semibold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 48px;
  color: var(--nightBlue);
}
#portfolio h2 {
  font: 30px/28px 'opensans-bold', sans-serif;
  color: var(--nightBlue);
  margin-bottom: 42px;
}

/* Portfolio Content */
#portfolio-wrapper .columns {
  margin-bottom: 36px;
}
.portfolio-item .item-wrap {
  background: var(--mainWhite);
  overflow: hidden;
  position: relative;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.portfolio-item .item-wrap a {
  display: block;
  cursor: pointer;
}

/* overlay */
.portfolio-item .item-wrap .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  background: url(../images/overlay-bg.png) repeat;
}
.portfolio-item .item-wrap .link-icon {
  display: block;
  color: var(--mainWhite);
  height: 30px;
  width: 30px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}
.portfolio-item .item-wrap img {
  vertical-align: bottom;
}
.portfolio-item .portfolio-item-meta {
  padding: 18px;
}
.portfolio-item .portfolio-item-meta h4 {
  font: 14px/21px 'opensans-bold', sans-serif;
  color: var(--mainWhite);
}
.portfolio-item .portfolio-item-meta p {
  font: 12px/18px 'opensans-light', sans-serif;
  color: var(--greyish);
  margin-bottom: 0;
}

/* on hover */
.portfolio-item:hover .overlay {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}
.portfolio-item:hover .link-icon {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

/* popup modal */
.popup-modal {
  max-width: 550px;
  background: var(--mainWhite);
  position: relative;
  margin: 0 auto;
}
.picture-box {
  display: flex;
  justify-content: center;
}
.scale-with-grid {
  width: 75%;
  padding: 20px;
}

.popup-modal .description-box {
  padding: 12px 36px 18px 36px;
}
.popup-modal .description-box h4 {
  font: 15px/24px 'opensans-bold', sans-serif;
  margin-bottom: 12px;
  color: #111;
}
.popup-modal .description-box p {
  font: 14px/24px 'opensans-regular', sans-serif;
  color: #a1a1a1;
  margin-bottom: 12px;
}
.popup-modal .description-box .categories {
  font: 11px/21px 'opensans-light', sans-serif;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  text-align: left;
}
.popup-modal .description-box .categories i {
  margin-right: 8px;
}
.popup-modal .link-box {
  padding: 18px 36px;
  background: #111;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
}
.popup-modal .link-box a {
  color: var(--mainWhite);
  font: 11px/21px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}
.popup-modal a:hover {
  color: var(--reddish);
}

cite {
  color: var(--reddish);
}

/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
  opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
  opacity: 0;
}

/* ------------------------------------------------------------------ */
/* f. BACKGROUND PROGRESS BAR
/* ------------------------------------------------------------------ */

.progress-bar-background {
  width: 100%;
  height: 5px;
  background: #ccc;
  position: fixed;
  top: 48px;
}

/* The progress bar */
.progress-bar {
  height: 5px;
  background: var(--reddish);
  width: 0%;
}
