/*
=====================================================================

   TOC:
   a. General Styles
   b. Navbar Styles
   c. Main Section
   d. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

:root {
  --mainBackground: #0f0f0f;
  --mainWhite: #fff;
  --reddish: #c77f7b;
  --nightBlue: #27455d;
  --greyish: #ebeeee;
  --formBackground: #373233;
}

body {
  background: var(--greyish);
}

.packages #nav-packages {
  color: var(--reddish);
}

.media-query-check {
  display: none;
}

/* ------------------------------------------------------------------ */
/* b. Navbar Styles
/* ------------------------------------------------------------------ */

#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 14px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 101;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(39, 69, 93, 1);
}
.nav-faded {
  display: none;
}
.nav-filled {
  background-color: rgba(39, 69, 93, 1);
}
.nav-transparent {
  background-color: transparent !important;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
  display: none;
}

ul#nav {
  min-height: 48px;
  width: auto;

  /* center align the menu */
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Nav Dropdown */

ul li ul {
  /* display: none; */
  /* opacity: 0; */
  visibility: hidden;
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  top: 48px;
  left: 0;
  transition: all 0.1s ease-in-out !important;
  -webkit-box-shadow: 0px 4px 8px 2px rgba(39, 69, 93, 0.49);
  box-shadow: 0px 4px 8px 2px rgba(39, 69, 93, 0.49);
  z-index: 999 !important;
}

ul li:hover > ul,
ul li ul:hover {
  /* display: block; */
  /* opacity: 1; */
  visibility: visible;
}

ul li ul li {
  background-color: var(--greyish);
  /* max-width: 100%; */
  white-space: nowrap;
  height: auto !important;
  text-align: left;
}

ul li ul li:first-child {
  padding-top: 12px !important;
}
ul li ul li:last-child {
  padding-bottom: 12px !important;
}

ul li ul li a {
  color: var(--nightBlue) !important;
}

ul li ul li a:hover {
  color: var(--reddish) !important;
}

/* Links */
.main #nav-homepage {
  color: var(--reddish);
}

ul#nav li a {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 4px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: var(--mainWhite);

  position: relative;

  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
ul#nav li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  text-align: left;
  opacity: 0;
}
ul#nav li a:hover {
  color: var(--reddish);
  z-index: 1;
}
ul#nav li a:hover:after {
  z-index: -10;
  animation: fill 0.5s forwards;
  -webkit-animation: fill 0.5s forwards;
  -moz-animation: fill 0.5s forwards;
  /* opacity: 1; */
}

/* BACK TO TOP BUTTON STYLES */
.top-link {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 50px;
  height: 50px;
  background-color: var(--mainWhite);
  z-index: 999;
}
.top-link.show {
  visibility: visible;
  opacity: 1;
}
.top-link.hide {
  visibility: hidden;
  opacity: 0;
}
.top-link svg {
  fill: var(--reddish);
  width: 24px;
  height: 12px;
}
.top-link:hover {
  background-color: var(--greyish);
}
.screen-reader-text {
  position: absolute;
  clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);
}
.screen-reader-text:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000;
  clip-path: none;
  background-color: #eee;
  padding: 15px 23px 14px;
  width: auto;
  height: auto;
  text-decoration: none;
  line-height: normal;
  color: #444;
  font-size: 1em;
  clip: auto !important;
}

/* ------------------------------------------------------------------ */
/* c. Main Section
/* ------------------------------------------------------------------ */
#title {
  text-align: center;
}

#carousel {
  width: 80vw;
  height: 110vh;
  background-color: var(--greyish);
  /* display: grid;
  justify-content: center;
  align-content: center; */
  margin: 50px auto;
  position: relative;
}
#buttons .left {
  position: absolute;
  top: 80%;
  left: 2%;
}
#buttons .right {
  position: absolute;
  top: 80%;
  right: 2%;
}
#carousel .cloud9-item,
#buttons button {
  cursor: pointer;
  outline: none;
}

/* ------------------------------------------------------------------ */
/* f. Cards
/* ------------------------------------------------------------------ */

.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 40%, 30%);
  --grey: hsl(0, 0%, 50%);

  width: 250px;
  height: 360px;
  margin: 0 auto;

  perspective: 1000px;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* .flip-card */
.flip-card {
  width: 100%;
  height: 100%;

  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 95%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
#plans figure {
  z-index: -1;
}

/* figure, .img-bg */
#plans figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* img */
#plans img {
  height: 100%;
  border-radius: 24px;
}

/* figcaption */
#plans figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, 0.5);
  border: 1px solid hsla(var(--hue), 45%, 40%, 0.8);
}

/* .img-bg */
.img-bg {
  background: hsla(var(--hue), 25%, 10%, 0.5);
}
.card-front .img-bg {
  -webkit-clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}
.card-front .img-bg::before {
  content: '';

  position: absolute;
  top: 34%;
  left: 50%;
  -ms-transform: translate(-50%, -50%) rotate(18deg);
  transform: translate(-50%, -50%) rotate(18deg);
  -webkit-transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;

  -webkit-transition: 0.1s;

  -o-transition: 0.1s;

  transition: 0.1s;
}
.card-back .img-bg {
  -webkit-clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
#plans ul {
  padding-top: 30%;
  margin: 0 auto;
  width: 70%;
  height: 100%;

  list-style: none;
  color: var(--white-1);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* li */
#plans li {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  text-align: center;

  position: relative;
}
#plans li:not(:last-child)::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: 0.2;
}

/* Price tags */
.card-back .price-tag {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 50%;
  -ms-transform: translate(50%);
  transform: translate(50%);
  -webkit-transform: translate(50%);

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, 0.5);
  border: 1px solid hsla(var(--hue), 45%, 40%, 0.8);
}

/* button */
#plans button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);

  letter-spacing: 2px;

  margin-bottom: 0;
  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  cursor: pointer;
}
#plans button:hover,
#plans button:focus {
  color: var(--reddish);
  background: hsla(var(--hue), 25%, 10%, 0.8);
  border-color: var(--primary);
}
#plans button:active {
  -ms-transform: translate(2px);
  transform: translate(2px);
  -webkit-transform: translate(2px);
}

/* .lines-container */
.lines-container {
  --tr: 90;
  --op: 0.5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}
.lines-container span {
  padding-bottom: 0 !important;
}

/* .lines */
.lines {
  display: block;

  background: var(--mainWhite);
  position: absolute;

  opacity: var(--op);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.lines--1,
.lines--2,
.lines--3,
.lines--4 {
  width: 1px;
  height: 100%;
}

.lines--1,
.lines--2 {
  top: 0;
  -ms-transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%));
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%));
  -webkit-transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.lines--1 {
  left: 20%;
}

.lines--2 {
  left: 80%;
}

.lines--3,
.lines--4 {
  bottom: 0;
  -ms-transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%));
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%));
  -webkit-transform: translateY(
    calc((var(--tr) + (var(--tr) - var(--tr))) * 1%)
  );
}

.lines--3 {
  left: 24%;
}

.lines--4 {
  left: 76%;
}
.lines--5,
.lines--6,
.lines--7,
.lines--8 {
  width: 100%;
  height: 1px;
}

.lines--5,
.lines--6 {
  left: 0;
  -ms-transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
  -webkit-transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.lines--5 {
  top: 41%;
}

.lines--6 {
  top: 59%;
}

.lines--7,
.lines--8 {
  right: 0;
  -ms-transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%));
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%));
  -webkit-transform: translateX(
    calc((var(--tr) + (var(--tr) - var(--tr))) * 1%)
  );
}

.lines--7 {
  top: 44%;
}

.lines--8 {
  top: 56%;
}

/* states */
#plans a:hover + .lines-container,
#plans a:active + .lines-container,
#plans a:focus + .lines-container {
  --tr: 20;
  --op: 0.7;
}

/* ------------------------------------------------------------------ */
/* d. Modals
/* ------------------------------------------------------------------ */
.modal {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.modal.is-visible {
  visibility: visible;
}

/* Prevent scrolling on <html> when `.modal` is visible */
.no-scroll {
  overflow: hidden;
}

/* Modal Overlay & Container */
.modal-overlay,
.modal-container {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease 0.3s, opacity 0.3s ease;
}

.modal-overlay {
  background: hsla(0, 0%, 0%, 0.5);
}

.modal.is-visible .modal-overlay,
.modal.is-visible .modal-container {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

/* Allow scrolling on `.modal-container` in case `.modal-wrapper` is taller than the viewport */
.modal.is-visible .modal-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Modal Wrapper */
.modal-wrapper {
  position: absolute;
  z-index: 10000;
  top: 3em;
  left: 50%;
  width: 100%;
  max-width: 600px;
  padding: 12px;
  margin-left: -50%;
  background-color: var(--mainWhite);
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
  border-radius: 4px;
}

/* Modal Transition */
.modal-transition {
  transition: visibility 0.3s 0.12s, opacity 0.3s 0.12s, transform 0.3s 0.12s;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

.modal-header,
.modal-content {
  padding: 16px;
}

.modal-description {
  color: grey;
  font-family: cursive;
}

/* Modal Header */
.modal-header {
  position: relative;
  background-color: var(--mainWhite);
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
}

/* Modal Heading */
.modal-heading {
  font-size: 20px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--reddish);
}

/* Modal Close Button */
.modal-close {
  position: absolute;
  top: -30px;
  right: 0;
  padding: 1.125em;
  color: var(--reddish);
  background: none;
  border: 0;
}

.modal-close:hover {
  background-color: whitesmoke;
}

.icon-close {
  width: 14px;
  height: 14px;
  position: relative;
  display: flex;
  justify-content: center;
}

.icon-close div:nth-child(1) {
  width: 2px;
  height: 100%;
  background-color: #9c9f9c;
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-radius: 2px;
}

.icon-close div:nth-child(2) {
  width: 2px;
  height: 100%;
  background-color: #9c9f9c;
  position: absolute;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-radius: 2px;
}

/* Modal Content */
.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}

.modal-content li {
  color: var(--nightBlue);
}

.redheart {
  color: #ff0000;
  font-size: 14px;
  font-family: 'arial unicode MS', arial, geneva, sans-serif;
}

@media (min-width: 600px) {
  /* Modal Wrapper */
  .modal-wrapper {
    top: 6em;
    margin-left: -300px;
  }
}

/* ------------------------------------------------------------------ */
/* e. Footer
/* ------------------------------------------------------------------ */

footer {
  padding-top: 48px;
  margin-bottom: 48px;
  color: var(--greyish);
  font-size: 14px;
  text-align: center;
  position: relative;
}

.widget h4 {
  color: var(--nightBlue) !important;
}

footer a,
footer a:visited {
  color: #525252;
}
footer a:hover,
footer a:focus {
  color: var(--reddish);
}

/* copyright */
footer .copyright {
  margin: 0;
  padding: 0;
}
footer .copyright:last-of-type li {
  margin-top: 15px;
}

footer .copyright li {
  display: inline-block;
  margin: 5px;
  padding: 0;
  color: var(--reddish);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* social links */
footer .social-links {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 30px;
}
footer .social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 42px;
  color: var(--reddish);
}

footer .social-links li:first-child {
  margin-left: 0;
}

/* Go To Top Button */
#go-top {
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -30px;
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #525252;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: var(--greyish);
  font-size: 21px;
  line-height: 60px;
  border-radius: 100%;
}
#go-top a:hover {
  background-color: var(--reddish);
}
